<div class="login">
  <% if flash[:alert] %>
    <p class="alert alert-danger"><%= flash[:alert] %></p>
  <% end %>
  <%= form_tag do %>
    <fieldset class="sign-up">
      <legend class="sign-up-title">Sign up in seconds</legend>
      <div class="form-group">
        <%= label_tag :name, 'Name:', class: 'labeltag' %>
        <%= text_field_tag :name, params[:name], placeholder: "name@example.com", class: "sign-up-input", autofocus: true %>
      </div> 
      <div class="form-group">
        <%= label_tag :password, 'Password:', class: 'labeltag' %>
        <%= password_field_tag :password, params[:password], placeholder: "Enter Password", class: "sign-up-input", autofocus: true %>
      </div>
      <div class="form-group">
        <%= submit_tag "Login", class: "sign-up-button" %>
      </div>
    </fieldset>
  <% end %>
</div>
