<%= bootstrap_form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div class="errors alert alert-danger" role="alert">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
    <%= f.text_field :name,   label: "Enter Name",    placeholder: "Enter name here", class: "sign-up-input", autofocus: true, size: 40 %>
    <%= f.text_area :address, label: "Enter Address", placeholder: "Enter your address details", class: "sign-up-input", autofocus: true, icon: "user", rows: 2, cols: 40 %>
    <%= f.text_field :email,  label: "Enter Email",   placeholder: "Enter email here", class: "sign-up-input", autofocus: true, icon: "user", size: 40 %>
    <%= f.select :pay_type, Order::PAYMENT_TYPES, prompt: 'Select a payment method' %>
    <%= f.submit 'Place Order', icon: "user", class: "sign-up-button" %>
<% end %>
